.footerBZNS{
background-color: #C7C7C7;
color: white;
padding-top: 3em;
}
ul{
list-style-type: none;
}

.footerBZNSInput{
border-radius: 20px;
font-size: 10px;
color: white;
border: 1px solid white;
background-color: #C7C7C7;
}
.footerBZNSbtn{
border-radius: 20px;
font-size: 10px;
background-color: white;
border: 1px solid white;
color: #C7C7C7;
}
